body {
  background-color: paleturquoise;
}

h1 {
  color: steelblue;
  font-size: 100px;
  font-family: garamond;
  border-bottom: 3px royalblue dotted;
}
h2 {
  color: mediumvioletred;
  font-family: "Courier New";
  font-size: 50px;
}
#presentation-1 {
  opacity: 75%;
}
#image-1 {
  float: right;
}
#image-2 {
  float: left;
}
p {
  float:right;
  margin-right: 250px;
}
ul {
  float: right;
  color: magenta;
  list-style-type: circle
}
li {
  margin-right: 50px;
}
table {
  width: 40px;
  margin-left: 700px
}
tr, th, td {
  border: 3px dashed palevioletred;
  border-collapse: collapse;
  padding: 50px;
}
